{
  "env": {
    "node": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "on",
    "linebreak-style": ["error", "unix"],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "comments": 180
      }
    ]
  }
}